.idea

target
ApplicationCore/target
RepositoriesAdapters/target
ApplicationPorts/target
SoapAdapter/target
RestAdapter/target

HexagonalArchitecture.iml
RepositoriesAdapters/RepositoriesAdapters.iml
ApplicationPorts/ApplicationPorts.iml
ApplicationCore/ApplicationCore.iml
/ApplicationCore/ApplicationService/ApplicationService.iml
/ApplicationCore/DomainModel/DomainModel.iml
/SoapAdapter/SoapAdapter.iml
/RestAdapter/RestAdapter.iml

